<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title User Details
        link(rel="stylesheet", href="/main.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") User Details
                    li.main-header__item
                        a(href="/add-user") Add User
        main
            if userData.length>0
                .user
                    each user in userData
                        .user-body
                            p Name : #{user.userName} <br />Email : #{user.userEmail} <br />Address : #{user.userAddress}
            else
                h1 No Users added
                
                
        