<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add User</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item">
            <a class="active" href="/">User Details</a>
          </li>
          <li class="main-header__item"><a href="/add-user">Add User</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="user">
        <div class="user-body">
          <p>
            Name : Praveen Sharma <br />Email : as@as.com <br />Address : test
          </p>
        </div>
        <div class="user-body">
          <p>
            Name : Praveen Sharma <br />Email : as@as.com <br />Address : test
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
